name: CICD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin' # Corrected this line
          java-version: '17'
      - name: Build project
        run: mvn clean install -DskipTests
      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/digitalcars .
      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/digitalcars:latest

  deploy:
    needs: build
    runs-on: [ip-172-31-15-240]
    steps:
      - name: Pull Docker image
        run: docker pull ${{ secrets.DOCKER_USERNAME }}/digitalcars:latest
      - name: Delete old Docker container
        run: docker rm -f digitalcars-container || true
      - name: Run Docker container
        run: docker run -d -p 8080:8080 --name digitalcars-container ${{ secrets.DOCKER_USERNAME }}/digitalcars:latest