# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('.m2/repository/**') }}

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive

      - name: Execute jar file
        run: sudo kill -9 `sudo lsof -t -i:8080` && java -jar /home/ubuntu/actions-runner/_work/DH-Proyecto-Integrador-G4-Back/DH-Proyecto-Integrador-G4-Back/target/DigitalCars-0.0.1-SNAPSHOT.jar &

      - name: Update dependency graph
        uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
        with:
          token: ${{ secrets.YOUR_PAT_SECRET }}

      # - name: Restart application on EC2
      #   run: sudo systemctl stop tu-aplicacion.service && sudo systemctl start tu-aplicacion.service
            
      - name: Start SSH agent
        run: |
          eval "$(ssh-agent -s)"
          ssh-add <(echo "$SSH_PRIVATE_KEY")
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add EC2 instance to known_hosts
        run: ssh-keyscan -H 18.117.146.67 >> ~/.ssh/known_hosts

      - name: Restart application on EC2
        run: ssh -o StrictHostKeyChecking=no ubuntu@18.117.146.67 "sudo systemctl restart tu-aplicacion.service"